.border_right{
    color: white !important;
    border-right: 5px solid white !important ;
    
}
.Page_Path h2{
    color: white;
}

@media screen and (max-width:1000px) {
    .p-colo{
font-size: 30px !important;
    }
    .fs-w{
        font-size: 30px !important;
    }
    /* .fs-6{
        font-size: 40px !important;
    } */
}