.select-system{
    width: 100%;
    height: 42px;
    border-radius: 6px;
    background-color: rgb(17 23 151);
    color: white;
}

@media screen and (max-width:1000px) {

    .ref-ip{
        font-size: 30px !important;
        width: 29% !important;
    }

    .ref-ip1{
        font-size: 30px !important;
    }

   
    
    }